.chatroomPage {
    display: grid;
    align-items: center;
    justify-content: center;
    margin: 20px;
  }

  .chatroomSection {
    background-color: white;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    width: 45vw;
    height: 79vh;
    margin: auto;
    margin-top: 40px;
    border: 3px solid #eee;
    position: relative;
  }
  
  .chatroomContent {
    position: absolute;
    top: 2.5rem;
    left: 0;
    right: 0;
    bottom: 3.5rem;
    padding:1rem;
    overflow: auto;
    overflow-y: scroll;
  }
  .input{
  border-bottom: 1px solid rgb(80, 78, 78);
  transition: all 0.5s;
    width: 90%;
  }
  input:focus {
    border-bottom: 1px solid rgb(83, 82, 82);
  }
  .chatroomActions {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 1rem;
    display: grid;
    z-index: 100;
    grid-template-columns: 1fr 100px;
    /* grid-gap: 1rem; */

  }
  
  .chatroomActions button {
    width: auto;
    border-radius: 5px;
  }
  
  .message {
    /* margin-bottom: 0.25rem; */
    padding: 0.1rem;
    margin: 4px;
    margin-top: 25px;
    font-size: 200px;
  }
  
  .otherMessage {
    font-size: 20px;
    color: #0099cc;
    font-weight: bold;
  }
  
  .ownMessage {
    font-size: 20px;
    
    color: #00cc00;
    font-weight: bold;
  }